<?xml version="1.0"?>
<launch>

  <!-- <arg name="urdf_file" default="$(find xacro)/xacro '$(find summit_xls_ur5_description)/robots/summit_xls_ur5_omni.urdf.xacro'" />
  <param name="robot_description" command="$(arg urdf_file)" /> -->
  <arg name="prefix" default="summit_xls_"/>
  <arg name="urdf_file" default="$(find xacro)/xacro '$(find summit_xls_ur5_description)/robots/summit_xls_ur5_omni.urdf.xacro' prefix:=$(arg prefix) --inorder" />
  <param name="robot_description" command="$(arg urdf_file)" />

  <node name="urdf_spawner_summit_xls" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf
								-x 0
                -y 0
                -z 0
                -param robot_description
                -model $(arg prefix)" />

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<!-- <arg name="world_name" value="$(arg world)"/> -->
		<arg name="debug" value="true" />
		<arg name="paused" value="false"/>
		<arg name="use_sim_time" value="true"/>
		<arg name="headless" value="false"/>
		<arg name="gui" value="true"/>
	</include>

  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

 
</launch>

